In [53]:
import os, json, collections, copy
import pandas as pd
import numpy as np
from ast import literal_eval

In [66]:
filepath = 'data/buzzfeed_1267_gpt.csv'
df = pd.read_csv(filepath)
print(df.shape)
df.head(2)

(1221, 4)

,claim_estimations,predicate_estimations,label,fold
0,"[{'domain': 'gallup.com', 'factual_reporting':...",[],1,3.0
1,"[{'domain': 'cnn.com', 'factual_reporting': 'M...",[],1,2.0

In [81]:
(1221-64) / 64

18.078125

In [67]:
full_code_set = set()
for index, row in df.iterrows():
    dic = row.to_dict()
    claim_estimations = literal_eval(dic['claim_estimations'])
    for est in claim_estimations:
        full_code_set.add(est['full_code'])

In [39]:
len(full_code_set)

48

In [70]:
str(list(full_code_set))

"['', 'LocalLife6', 'NatLife1', 'NatNews1', 'LocalInfo2', 'LocalInfo3', 'NatInfo11', 'NatInfo3', 'NatCom2', 'NatInfo2', 'NatLife6', 'LocalNews6', 'NatNews3', 'NatLife2', 'LocalNews1', 'Foreign', 'LocalLife1', 'LocalCom1', 'NatNews2', 'LocalNews3', 'Unable to Review', 'NatNews6', 'LocalCom6', 'NatNews5', 'LocalInfo6', 'LocalNews2', 'LocalLife3', 'LocalCom4', 'NatNews10', 'NatCom6', 'NatLife5', 'NatInfo1', 'LocalNews5', 'REVIEW', 'NatLife7', 'BLOCK', 'LocalNews7', 'LocalLife5', 'LocalInfo8', 'NatLife8', 'NatLife4', 'NatCom1', 'NatNews4', 'LocalInfo1', 'LocalLife7', 'LocalNews4', 'LocalCom3', 'NatCom5']"

In [41]:
df.loc[df['label']==0, :].shape

(62, 4)

In [57]:
new_data = []
for index, row in df.iterrows():
    dic = row.to_dict()
    claim_estimations = literal_eval(dic['claim_estimations'])
    support_or_negate_stat = {'support': 0, 'baseless': 0, 'negate': 0}
    for est in claim_estimations:
        full_code_set.add(est['full_code'])
        support_or_negate = est['support_or_negate']
        support_or_negate_stat[f'{support_or_negate}'] += 1
    for k, v in support_or_negate_stat.items():
        dic[k] = v
    new_data.append(dic)
print(len(new_data))
new_df = pd.DataFrame(new_data)

1221

In [58]:
support_or_negate_stat

{'support': 3, 'baseless': 4, 'negate': 0}

In [60]:
new_df.head(2)

,claim_estimations,predicate_estimations,label,fold,support,baseless,negate
0,"[{'domain': 'gallup.com', 'factual_reporting':...",[],1,3.0,6,5,0
1,"[{'domain': 'cnn.com', 'factual_reporting': 'M...",[],1,2.0,5,2,0

In [61]:
keys = ['support', 'baseless', 'negate']
new_df.groupby('label').mean(keys)

           fold   support  baseless    negate
label
0      2.000000  0.661290  5.016129  1.774194
1      1.998274  4.241588  3.222606  0.522002

In [46]:
est['support_or_negate']

'baseless'

In [42]:
df.loc[df['label']==0, :]

,claim_estimations,predicate_estimations,label,fold
122,"[{'domain': 'nbcnews.com', 'factual_reporting'...",[],0,0.0
142,"[{'domain': 'reuters.com', 'factual_reporting'...",[],0,0.0
151,"[{'domain': 'washingtonpost.com', 'factual_rep...",[],0,1.0
426,"[{'domain': 'foxnews.com', 'factual_reporting'...",[],0,0.0
431,"[{'domain': 'thelist.com', 'factual_reporting'...",[],0,2.0
...,...,...,...,...
1165,"[{'domain': 'okmagazine.com', 'factual_reporti...",[],0,4.0
1184,"[{'domain': 'espn.com', 'factual_reporting': '...",[],0,4.0
1186,"[{'domain': 'washingtonpost.com', 'factual_rep...",[],0,0.0
1188,"[{'domain': 'politifact.com', 'factual_reporti...",[],0,1.0
1191,"[{'domain': 'bbc.com', 'factual_reporting': 'H...",[],0,3.0

In [ ]:
# block, foreign -1
# 1, 2 1
# else 0.5

In [ ]:
full_code_set

# 看一下数据分布

In [78]:
filepath = '/home/services/siliang/lgb/exp/buzzfeed_1267_gpt_2fold/result.csv'
df = pd.read_csv(filepath)
print(df.shape)

(1221, 5)

In [79]:
df.head(1)

        mv    preds  fold  label  pred_label
0  support  0.97428     0      1           1

In [80]:
pd.read_csv('/home/services/siliang/lgb/data/buzzfeed_1267_gpt.csv')

,claim_estimations,predicate_estimations,label,fold
0,"[{'domain': 'gallup.com', 'factual_reporting':...",[],1,3.0
1,"[{'domain': 'cnn.com', 'factual_reporting': 'M...",[],1,2.0
2,"[{'domain': 'timesofisrael.com', 'factual_repo...",[],1,2.0
3,"[{'domain': 'go.com', 'factual_reporting': 'HI...",[],1,3.0
4,"[{'domain': 'washingtonpost.com', 'factual_rep...",[],1,2.0
...,...,...,...,...
1216,"[{'domain': 'policemag.com', 'factual_reportin...",[],1,2.0
1217,"[{'domain': 'politico.com', 'factual_reporting...",[],1,0.0
1218,"[{'domain': 'theguardian.com', 'factual_report...",[],1,0.0
1219,"[{'domain': 'nydailynews.com', 'factual_report...",[],1,0.0
1220,"[{'domain': 'ketv.com', 'factual_reporting': '...",[],1,1.0

In [ ]:
(df['label'].values())

## gy train 0229

In [31]:
filepath = '/home/services/siliang/lgb/data/overall_training_0229_fold.csv'
df = pd.read_csv(filepath)
print(df.shape)

(1429, 4)

In [34]:
df['label'].value_counts()

label
1    717
0    712
Name: count, dtype: int64